select {
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
}

.App {
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 4px rgb(197, 193, 193);
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  background-image: url("../src/images/simextas.jpg");
  background-size: cover;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App h1 {
  opacity: 100;
  z-index: 5;
}

h4 {
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}
h2 {
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}
